menu "MAX32657 Testing Configutation"

choice MAX32657_TESTING_EXAMPLE
	prompt "Example variant"
	default MAX32657_TESTING_BLINKY_EXAMPLE

config MAX32657_TESTING_BLINKY_EXAMPLE
	bool "Blinky example"
	help
	  Blinky CAPI example

config MAX32657_TESTING_BUTTON_IRQ_EXAMPLE
	bool "Button IRQ example"
	help
	  Button IRQ example

config MAX32657_TESTING_BUTTON_POLLING_EXAMPLE
	bool "Button (polling) example"
	help
	  Button (polling) example

config MAX32657_TESTING_DMA_EXAMPLE
	bool "DMA example"
	help
	  DMA example

config MAX32657_TESTING_I2C_EXAMPLE
	bool "I2C example"
	help
	  I2C sending for ADALM2000 measurement example

config MAX32657_TESTING_SPI_EXAMPLE
	bool "SPI example"
	help
	  SPI example

config MAX32657_TESTING_TIMER_EXAMPLE
	bool "Timer example"
	help
	  Timer example

config MAX32657_TESTING_TMR0_EXAMPLE
	bool "TMR0 testing"
	help
	  TMR0 testing

config MAX32657_TESTING_TRNG_EXAMPLE
	bool "TRNG example"
	help
	  TRNG example

config MAX32657_TESTING_UART_ASYNC_EXAMPLE
	bool "UART (async) example"
	help
	  UART (async) example

config MAX32657_TESTING_UART_EXAMPLE
	bool "UART example"
	help
	  UART example

config MAX32657_TESTING_WDT_EXAMPLE
	bool "WDT example"
	help
	  WDT example

config MAX32657_TESTING_COUNT_EXACT_EXAMPLE
	bool "COUNT_EXACT"
	help
	  COUNT_EXACT

endchoice

endmenu
